body {
    margin: 0;
    background-color:  #a8939a ;
  }
  
  #my-canvas {
    background-color: darkgray;
  }
  
  #start-btn, #restart-btn {
    background-color:  #a8939a ;
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    border-style: none;
  }

  #gameDiv {
    display : none;
    font-weight: bold;
    color: rgba(84,97,90,255);
    font-size: 25px;
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  
  #my-canvas, #gameover-screen {
    display: none;
  }